.content-header{
    padding-top: 90px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    
}

.content-header input{
    width: 400px;
    height: 35px;
    border-radius: 6px;
    border:none;
}

.content-header i{
    padding: 14px;

}

.content-search{
    display: flex;
    /* justify-content: center; */
    flex-direction: row;
    width: 35%;
    height: 35px;
    vertical-align: center;
}


.content-header select{
    width: 150px;
    height: 35px;
    border-radius: 6px;
    padding-left: 30px;
    border:none;
}

img{
    width: 100%;
    height: 91vh;
}


@media(max-width: 500px) {
    .content-header{
        padding-top: 90px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        transition : all 1s ease !important;
    }

    .content-search{
        width: 80%;
        transition : all 1s ease !important;
    }
    .content-header select{
        transition : all 1s ease-in-out !important;
    }
 }