@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");


.container {
  max-width: 98%;
  margin: 0 auto;
}

.grid-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.grid-item {
  height: 450px;
  flex-basis: 25%;
  width: 300px;
  position: relative;
  padding: 40px;
  box-sizing: border-box;
}


.grid-item-wrapper {
  -webkit-box-sizing: initial;
  -moz-box-sizing: initial;
  box-sizing: initial;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  -webkit-transition: padding 0.15s cubic-bezier(0.4,0,0.2,1), margin 0.15s cubic-bezier(0.4,0,0.2,1), box-shadow 0.15s cubic-bezier(0.4,0,0.2,1);
  transition: padding 0.15s cubic-bezier(0.4,0,0.2,1), margin 0.15s cubic-bezier(0.4,0,0.2,1), box-shadow 0.15s cubic-bezier(0.4,0,0.2,1);
  position: relative;
}


.grid-item:hover .more-info i {
  padding-left: 20px;
  transition-duration: .5s;
}

.grid-item:hover .grid-item-wrapper {
  padding: 2% 2%;
  margin: -2% -2%;
}

.grid-item-wrapper .imagenPais{
    height: 50%;
}
.grid-item-wrapper .imagenPais img{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 20% 50%;
    width: 100%;
    height: 100%;
}

.grid-item-wrapper .description-country{
    width: 100%;
    height: 100%;
    text-align: start;
    padding-left: 10px;
}

.grid-item-wrapper .description-country p{
    margin : 0;
    padding-bottom: 5px;
}


@media(max-width: 1333px) {
  .grid-item {
    flex-basis: 33.33%;
  }
}

@media(max-width: 1073px) {
   .grid-item {
    flex-basis: 33.33%;
  }
}

@media(max-width: 815px) {
  .grid-item {
    flex-basis: 50%;
  }
}

@media(max-width: 620px) {
  .col {
    clear: both;
    float: none;
    margin-left: auto;
    margin-right: auto;
    width: auto !important;
  }
}

@media(max-width: 555px) {
  .grid-item {
    flex-basis: 100%;
  }
}